*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Eksternal CSS untuk mengatur semua yang ada pada class ML*/
.ML{
    background-color: lightcoral;
    margin: 70px;
    padding: 30px;
    border-radius: 10px;
}
/*Eksternal CSS untuk mengatur judul pada heading 1*/
h1 {
    text-align: center;
}
/*Eksternal CSS untuk mengatur tabel*/
table {
    width: 100%;
}
/*Eksternal CSS untuk mengatur header dari setiap kolom*/
th {
    padding: 15px;
    text-align: left;
    background-color: aquamarine;
}
/*Eksternal CSS untuk mengatur isi kolom*/
td {
    padding: 20px;
    text-align: left;
}
/*Eksternal CSS untuk mengatur warna pada baris kolom*/
tr{
    background-color: antiquewhite;
}
